<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.BookMapper">
	
	<!-- <select id="booklist" resultType="com.spring.domain.BookVO">
		SELECT * FROM bookDB
	</select> -->
	
	<!-- html에서 꺽쇠는 태그를 시작하는 의미가 있기때문에 크다작다인지 태그시작인지 헷깔려함 -->
	<select id="booklist" resultType="com.spring.domain.BookVO">
		<!-- CDATA : <,>를 크다 작다의 의미로 나타내줌 -->
		<![CDATA[
		select * 
		from (select /*+INDEX_DESC(bookDB pk_bookDB)*/
				ROWNUM rn,bno,bookname,writer,publisher,issue_year,book_qnt,rent_qnt
				from bookDB 
				where 
		]]>		
		<include refid="criteria"></include>
		<![CDATA[
				bno>0 and rownum <= (#{pageNum}*#{amount}))
				where rn > (#{pageNum}-1)*#{amount}
		]]>
	</select>
	
	<!-- total 게시물 수 알아내기 -->
	<select id="total" resultType="int">
		select count(*) from bookDB where 
		<include refid="criteria"></include>
		bno>0
	</select>
	
	<sql id="criteria">
		<trim prefix="(" suffix=") AND" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type=='T'.toString()">
							bookname like '%'||#{keyword}||'%'
						</when>
						<when test="type=='C'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
						<when test="type=='W'.toString()">
							publisher like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<!-- main search -->
	<select id="booksearch" resultType="com.spring.domain.BookVO">
		select * 
		from bookDB 
		where bookname like #{keyword} or writer like '%'||#{keyword}||'%'
	</select>
	
	<!-- Book 1개 정보 가져오기 -->
	<select id="getBook" resultType="com.spring.domain.BookVO">
		select * from bookDB where bno=#{bno}
	</select>
	
	
	<!-- 장바구니 대여 -->
	<insert id="insertCart">
		insert into rent(rno,bno,userid,return_date) values(rent_rno.nextval,#{bno},#{userid},sysdate+7)
	</insert>
	
	<!-- 대여 리스트 -->
	<select id="rent" resultType="com.spring.domain.RentVO">
		select r.rno,r.bno,r.userid,b.writer,b.publisher,b.bookname,rental_date, return_date 
		from bookDB b, rent r,client c 
		where r.bno=b.bno and r.userid=c.userid and c.userid=#{userid}
	</select>
	
	<!-- 대여 리스트 삭제 -->
	<delete id="deleteCart">
	 delete rent
	     where rno = #{rno}
	         and userid = #{userid}
	</delete>
	

</mapper>